.cabecera {
    width: 100%;
    text-align: center;
    background-image: url('imagenes/banner-tihare.png');
    border: 1px solid #bbbdc0;
    border-radius: 15px;
    margin-bottom: 10px;
}

.cuerpo {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #bbbdc0;
    border-radius: 15px;
    margin-bottom: 10px;
}

.cuerpo .contenedor-fecha {
    margin: 10px;
}

.cuerpo canvas {
    margin: 10px;
}

footer {
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #bbbdc0;
    border-radius: 15px;
}